<div>

    <po-page-default
        p-title="CUF0069">

        <po-checkbox-group
           class="po-md-4"
           
           name="checkboxCuf0069"
           p-label="Selecione a Situação"
           [p-options]=" [   
                { value: '1', label: 'Pendente' },
                { value: '2', label: 'Reenvio' },
                { value: '3', label: 'Enfileirado' },
                { value: '4', label: 'Erro' },
                { value: '5', label: 'Enviado' },
                { value: '6', label: 'Sem E-mail' }
           ]"
                ></po-checkbox-group>
        
        <po-table
        [p-columns]="cuf0069Colunas">
        </po-table>
       

    
    
    </po-page-default>

 

</div>
