

/*
.btAtualiza {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
:host ::ng-deep po-widget {
    background-color: #f0f0f0; */ /* Altera a cor de fundo do widget */
/*  } */
  